/* Size of logo */
.logo {
    width: auto;
    height: 100px;
}

.logoBig {
    width: auto;
    height: 200px;
}

/* Styling for icons while adding new item */
.food-icon {
    width: 60px;
    height: 50px;
}

#itemIcons .ui-selected {
    background-color: #ced4da;
    border-radius: 0.25rem;
}

#itemIcons {
    list-style-type: none;
}

#itemIcons li {
    float: left;
    margin: 5px;
}

/* Styling for table representatives */

#selectableTables .ui-selecting {
    background: #28a710;
}

#selectableTables .ui-selected {
    background: #28a745;
    color: white;
}

#selectableTables, #openOrders {
    list-style-type: none;
    margin: 10px;
    padding: 20px;
}

#selectableTables li {
    margin: 20px 40px;
    padding: 20px;
    float: left;
    width: 100px;
    height: 100px;
    font-size: 1em;
    text-align: center;
}

li.ui-selectee:hover {
    cursor: pointer;
}

.tableOccupied {
    background: #db4800 !important;
    color: white !important;
}

.currentTable {
    background: #28a745 !important;
    color: white !important;
}

/* Styling for login page */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/* Styling for static index.html */

header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}
